.homeicon:hover {
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    width: 260px;
    border-radius: 10px;
    color:  white;
    
}

.homeLi:hover{
  background: #DCBFFF;
  width: 95%;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;

 

} 


.Licontent :hover{
  width: 50;

}



.hover-effect:hover {
    width: 70px;
    height: 40px;
}

.dark{
  background: #000;
  color: white;
}


.dark span{
  color:#B931FC;
}

.toogle-switchtest{
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 5px;
  width: 80px;
  height: 20px;
  border-radius: 10px;
   background-color: darkgray;
}


.toogle-switchtest::before{
  position: absolute;
  content: "";
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background-color: black;
  top: 3px;
  left: 3px;
  cursor: pointer;


}

input:checked+.toogle-switchtest::before{
   transform: translateX(26px) ;
}